<!-- view_obituaries.html -->
{% extends 'base.html' %}

{% block content %}
    <h1>Obituaries</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Date of Birth</th>
                <th>Date of Death</th>
                <th>Author</th>
                <th>Submission Date</th>
            </tr>
        </thead>
        <tbody>
            {% for obituary in page_obj %}
            <tr>
                <td><a href="/obituary/{{ obituary.slug }}/">{{ obituary.name }}</a></td>
                <td>{{ obituary.date_of_birth }}</td>
                <td>{{ obituary.date_of_death }}</td>
                <td>{{ obituary.author }}</td>
                <td>{{ obituary.submission_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if page_obj.has_other_pages %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; First</a>
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% endif %}
{% endblock %}